nav.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    z-index: 1000;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #415A77;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #415A77;
    font-size: 1rem;
    transition: all 0.2s ease-in;
}

.nav-links a:hover {
    color: #0D1B2A;
    font-size: 1.3rem;
}

@media (max-width: 1100px) {
    nav.nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: white;
        position: absolute;
        top: 3rem;
        left: 0;
        padding: 1rem;
    }

    .nav-links.show {
        display: flex;
    }
}
